<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Cargar propiedades desde servicio.properties en el classpath -->
    <context:property-placeholder location="classpath:servicio.properties"/>

    <!-- Bean que contiene las propiedades de conexión -->
    <bean id="servicioPropiedades" class="dominio.BDMySql">
        <property name="urlBD" value="${urlBD}" />
        <property name="user" value="${user}" />
        <property name="password" value="${password}" />
    </bean>

</beans>
